*{
    margin: 0;
}
body{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.third-page{
    margin-top: 100px;
    margin-left: 147px;
    margin-bottom: 143px;
    width: 1146px;
    height: 886px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;


}
h2{
    font-size: 43px;
}
#gallery{
    margin-top: 20px;
    margin-bottom: 60px;
    width: 609px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.firstimg3{
    width: 1146px;
    height: 330px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#img3-1{
    width: 362px;
    height: 330px;
}
#img3-2{
    width: 362px;
    height: 330px;
}
#img3-3{
    width: 362px;
    height: 330px;
}
.secondimg3{
    width: 1146px;
    height: 330px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}
a{
    color: #FF4B32;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}
.fourth-page{
    width: 1440px;
    height: 650px;
    background-color: #2a0101;
    background-image: url(../img3p/followus.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#followus{
    color: #FF4B32;
    text-align: center;
    font-size: 24px;
    font-style: normal;
}
#questions{
    height: 112px;
    color: #ffffff;
    text-align: center;
    font-size: 43px;
    font-style: normal;
}
#number{
    width: 210px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mail{
    width: 320px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#links{
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}